USE [master]
GO
/****** Object:  Database [QuanLyChiTieuCaNhan]    Script Date: 4/10/2026 5:12:25 PM ******/
CREATE DATABASE [QuanLyChiTieuCaNhan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyChiTieuCaNhan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyChiTieuCaNhan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyChiTieuCaNhan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyChiTieuCaNhan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyChiTieuCaNhan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyChiTieuCaNhan]
GO
/****** Object:  Table [dbo].[ChiTieu]    Script Date: 4/10/2026 5:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTieu](
	[MaChiTieu] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[MaDanhMuc] [int] NOT NULL,
	[SoTien] [decimal](18, 0) NOT NULL,
	[NgayChi] [datetime] NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucChi]    Script Date: 4/10/2026 5:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucChi](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](200) NULL,
	[MaNguoiDung] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 4/10/2026 5:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](64) NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuNhap]    Script Date: 4/10/2026 5:12:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuNhap](
	[MaThuNhap] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NOT NULL,
	[SoTien] [decimal](18, 0) NOT NULL,
	[NgayThu] [datetime] NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTieu] ON 

INSERT [dbo].[ChiTieu] ([MaChiTieu], [MaNguoiDung], [MaDanhMuc], [SoTien], [NgayChi], [GhiChu]) VALUES (1, 9, 1, CAST(50000 AS Decimal(18, 0)), CAST(N'2026-03-01T00:00:00.000' AS DateTime), N'Ăn sáng')
INSERT [dbo].[ChiTieu] ([MaChiTieu], [MaNguoiDung], [MaDanhMuc], [SoTien], [NgayChi], [GhiChu]) VALUES (2, 9, 2, CAST(70000 AS Decimal(18, 0)), CAST(N'2026-03-01T00:00:00.000' AS DateTime), N'Đổ xăng')
INSERT [dbo].[ChiTieu] ([MaChiTieu], [MaNguoiDung], [MaDanhMuc], [SoTien], [NgayChi], [GhiChu]) VALUES (3, 9, 3, CAST(200000 AS Decimal(18, 0)), CAST(N'2026-03-02T00:00:00.000' AS DateTime), N'Mua áo')
SET IDENTITY_INSERT [dbo].[ChiTieu] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMucChi] ON 

INSERT [dbo].[DanhMucChi] ([MaDanhMuc], [TenDanhMuc], [MoTa], [MaNguoiDung]) VALUES (1, N'Ăn uống', N'Cơm, nước, cafe', 9)
INSERT [dbo].[DanhMucChi] ([MaDanhMuc], [TenDanhMuc], [MoTa], [MaNguoiDung]) VALUES (2, N'Di chuyển', N'Xăng xe', 9)
INSERT [dbo].[DanhMucChi] ([MaDanhMuc], [TenDanhMuc], [MoTa], [MaNguoiDung]) VALUES (3, N'Mua sắm', N'Quần áo, đồ dùng', 9)
SET IDENTITY_INSERT [dbo].[DanhMucChi] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [HoTen], [Email]) VALUES (9, N'admin', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'Nguyễn Chí Tấn Thành', N'thanhnct28@gmail.com')
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [HoTen], [Email]) VALUES (10, N'tanhm', N'2eb7f12ced92d67f9e0e6aec767150af211f4c24049cd2e84bcd92f1ce8e3072', N'Huỳnh Minh Tân', N'tanhm@gmail.com')
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [HoTen], [Email]) VALUES (11, N'dieult', N'800063f14d3f097e2bbb3b9d88c7b46e641ad20508491c6f2b9d4b25cce9ede2', N'Lê Thị Diệu', N'dieult@gmail.com')
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[ThuNhap] ON 

INSERT [dbo].[ThuNhap] ([MaThuNhap], [MaNguoiDung], [SoTien], [NgayThu], [GhiChu]) VALUES (1, 9, CAST(5000000 AS Decimal(18, 0)), CAST(N'2026-03-01T00:00:00.000' AS DateTime), N'Lương tháng')
INSERT [dbo].[ThuNhap] ([MaThuNhap], [MaNguoiDung], [SoTien], [NgayThu], [GhiChu]) VALUES (2, 9, CAST(3000000 AS Decimal(18, 0)), CAST(N'2026-03-10T00:00:00.000' AS DateTime), N'Làm thêm')
INSERT [dbo].[ThuNhap] ([MaThuNhap], [MaNguoiDung], [SoTien], [NgayThu], [GhiChu]) VALUES (3, 10, CAST(7000000 AS Decimal(18, 0)), CAST(N'2026-03-01T00:00:00.000' AS DateTime), N'Lương')
SET IDENTITY_INSERT [dbo].[ThuNhap] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__55F68FC048CFB5D3]    Script Date: 4/10/2026 5:12:25 PM ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__A9D1053493203C4D]    Script Date: 4/10/2026 5:12:25 PM ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTieu]  WITH CHECK ADD FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMucChi] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[ChiTieu]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DanhMucChi]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[ThuNhap]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[ChiTieu]  WITH CHECK ADD CHECK  (([SoTien]>(0)))
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [CK_Email_Format] CHECK  (([Email] like '%@%'))
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [CK_Email_Format]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [CK_MatKhau_Length] CHECK  ((len([MatKhau])>=(6)))
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [CK_MatKhau_Length]
GO
ALTER TABLE [dbo].[ThuNhap]  WITH CHECK ADD CHECK  (([SoTien]>(0)))
GO
USE [master]
GO
