USE [QuanLyChiTieuCaNhan]
GO
/****** Object:  Table [dbo].[ChiTieu]    Script Date: 3/18/2026 7:47:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTieu](
	[MaChiTieu] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NULL,
	[MaDanhMuc] [int] NULL,
	[SoTien] [decimal](18, 0) NULL,
	[NgayChi] [datetime] NULL,
	[GhiChu] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucChi]    Script Date: 3/18/2026 7:47:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucChi](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NULL,
	[MoTa] [nvarchar](200) NULL,
	[MaNguoiDung] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 3/18/2026 7:47:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[HoTen] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuNhap]    Script Date: 3/18/2026 7:47:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuNhap](
	[MaThuNhap] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NULL,
	[SoTien] [decimal](18, 0) NULL,
	[NgayThu] [datetime] NULL,
	[GhiChu] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTieu] ON 

INSERT [dbo].[ChiTieu] ([MaChiTieu], [MaNguoiDung], [MaDanhMuc], [SoTien], [NgayChi], [GhiChu]) VALUES (2, 1, 2, CAST(70000 AS Decimal(18, 0)), CAST(N'2026-03-01T00:00:00.000' AS DateTime), N'Đổ xăng')
INSERT [dbo].[ChiTieu] ([MaChiTieu], [MaNguoiDung], [MaDanhMuc], [SoTien], [NgayChi], [GhiChu]) VALUES (3, 1, 3, CAST(200000 AS Decimal(18, 0)), CAST(N'2026-03-08T00:00:00.000' AS DateTime), N'Mua giày')
INSERT [dbo].[ChiTieu] ([MaChiTieu], [MaNguoiDung], [MaDanhMuc], [SoTien], [NgayChi], [GhiChu]) VALUES (4, 1, 4, CAST(20000 AS Decimal(18, 0)), CAST(N'2026-03-03T00:00:00.000' AS DateTime), N'Xem phim')
SET IDENTITY_INSERT [dbo].[ChiTieu] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMucChi] ON 

INSERT [dbo].[DanhMucChi] ([MaDanhMuc], [TenDanhMuc], [MoTa], [MaNguoiDung]) VALUES (1, N'Ăn uống & Cafe', N'Cơm trưa, trà sữa, cafe, ăn vặt', 1)
INSERT [dbo].[DanhMucChi] ([MaDanhMuc], [TenDanhMuc], [MoTa], [MaNguoiDung]) VALUES (2, N'Di chuyển', N'Xăng xe, gửi xe, sửa xe', 1)
INSERT [dbo].[DanhMucChi] ([MaDanhMuc], [TenDanhMuc], [MoTa], [MaNguoiDung]) VALUES (3, N'Mua sắm', N'Mua đồ cá nhân', 1)
SET IDENTITY_INSERT [dbo].[DanhMucChi] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [HoTen], [Email]) VALUES (1, N'admin', N'123456', N'Nguyễn Chí Tấn Thành', N'thanhnct28@gmail.com')
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [HoTen], [Email]) VALUES (2, N'tanhm', N'123', N'Huynh Minh Tan', N'tanhm@gmail.com')
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [HoTen], [Email]) VALUES (3, N'dieult', N'123', N'Le Thi Dieu', N'dieult@gmail.com')
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[ThuNhap] ON 

INSERT [dbo].[ThuNhap] ([MaThuNhap], [MaNguoiDung], [SoTien], [NgayThu], [GhiChu]) VALUES (1, 1, CAST(5000000 AS Decimal(18, 0)), CAST(N'2026-03-01T00:00:00.000' AS DateTime), N'Lương tháng')
INSERT [dbo].[ThuNhap] ([MaThuNhap], [MaNguoiDung], [SoTien], [NgayThu], [GhiChu]) VALUES (3, 1, CAST(100000 AS Decimal(18, 0)), CAST(N'2026-03-05T00:00:00.000' AS DateTime), N'Bán đồ cũ')
INSERT [dbo].[ThuNhap] ([MaThuNhap], [MaNguoiDung], [SoTien], [NgayThu], [GhiChu]) VALUES (4, 2, CAST(7000000 AS Decimal(18, 0)), CAST(N'2026-03-01T00:00:00.000' AS DateTime), N'Lương')
SET IDENTITY_INSERT [dbo].[ThuNhap] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__55F68FC0AD5F9660]    Script Date: 3/18/2026 7:47:40 PM ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTieu]  WITH CHECK ADD FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMucChi] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[ChiTieu]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DanhMucChi]  WITH CHECK ADD  CONSTRAINT [FK_DanhMuc_NguoiDung] FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
ALTER TABLE [dbo].[DanhMucChi] CHECK CONSTRAINT [FK_DanhMuc_NguoiDung]
GO
ALTER TABLE [dbo].[ThuNhap]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
GO
